<center>
<h2>Login</h2>
<div class="sign_in_page">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><% f.label :email %><br />
  <%= f.email_field :email, :autofocus => true, :placeholder => "Email Address"%></div>

  <div class="input_field"><% f.label :password %>
  <%= f.password_field :password , :placeholder => "Password" %></div>

  <% if devise_mapping.rememberable? -%>
  	<!-- TODO: Commented out remember me button -->
    <div><% f.check_box :remember_me %> <% f.label :remember_me %></div>
  <% end -%>
  <br>
  <div ><%= f.submit "Sign in", :class => "btn btn-lg btn-primary btn-block" %></div>
<% end %>

<% render "devise/shared/links" %>
</div>
</center>