// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  /*padding-top: 60px;*/
  /*padding-left: 50px;*/
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  /*text-align: center;
  display: inline-block;*/
  display: table;
  margin: auto;
}

/*.center h1 {
  margin-bottom: 10px;
  text-align: center;
}*/

.add_event {
	/*float:left;
	position: relative;
	left: -50%;*/
	text-align:left;
}