// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  /*padding-top: 60px;*/
  /*padding-left: 50px;*/
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  /*text-align: center;
  display: inline-block;*/
  display: table;
  margin: auto;
  width:100%;
  height: -moz-calc(100% - 50px);
  height: -webkit-calc(100% - 50px);
  height: calc(100% - 50px);

}

.add_event {
	/*float:left;
	position: relative;
	left: -50%;*/
	text-align:center;
	max-width:400px;
}

.center h2 {
	text-align:center;
}


#user_email {
	width:100%;
}

#user_password {
	width:100%;
}
#user_password_confirmation {
	width:100%;
}

.input-field {
	width:100%;
}

.event_list {
	width:100%;
}

#events_list {
	background-color:#e7e7e7;
	padding:10px;
	border-radius:10px;
	top:10%;
	color:#000000;
}
#events_item {
	float:left;
}
#events_delete {
	margin-top:5px;
	width:100%;
	text-align:right;
	/*float: right;*/
}

.view_events_list_text {
	border-top:5px;
}

.sign_up_page {
	max-width:400px;
}

.sign_in_page {
	max-width:400px;
}

.view_events_page {
	max-width:700px;
}

.day_contents {
	border-top:20px;
	border-color:#000000;
}

.schedule_view_hr {
	margin-top:5px;
	margin-bottom:10px;
}

.labels {
     color: blue;
     background-color: white;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 12px;
     font-weight: bold;
     text-align: center;
     width: 25px;
     border: 1px solid black;
     white-space: nowrap;
   }

.reset-button {
	width: 100%;
	text-align: center;
}

/* Map and Direction Styles */
.adp-directions {
	width: 100%;
} 

.schedule-div {
	position: absolute;
	left:0px;
	top:50px;
	width:15%;
	max-width:550px;
	background-color:#FFFFFF;
	min-width:400px;
	max-height: -moz-calc(100% - 50px);
  	max-height: -webkit-calc(100% - 50px);
  	max-height: calc(100% - 50px);
	overflow:scroll;

}

.event-div {
	position: absolute;
	right:0%;
	top:50px;
	width:25%;
	max-width:550px;
	background-color:#FFFFFF;
	min-width:400px;
}

.event_form_button {
	width:100%;
	height:50px;
	background-color:#f8f8f8;
	text-align:left;
	padding:15px;
	border-top:1px solid #E7E7E7;
}

.event_form_button:hover {
	background-color:#f4f4f4;
}

.event_form_button_text {
	font-size:13px;
	color:#777777;
}














